@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --navbar-height: 50px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: var(--navbar-height);
  background: radial-gradient(circle, rgba(186, 186, 186, 0.25) 0%, rgba(175, 175, 175, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em !important;
  top: 0;
  position: sticky;
}

.center-align-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--navbar-height));
}
