$no-prefill-background: rgb(227, 227, 227);
$no-prefill-border: rgb(188, 188, 188);

.formFieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.formField {
  background-color: gray;
  width: 100%;
  height: 50px;
}

.noPrefilledField {
  display: flex;
  gap: 10px;
  background-color: $no-prefill-background;
  border-radius: 10px;
  padding: 6px;
  align-items: center;
  border: 2px dashed $no-prefill-border;

  &:hover {
    cursor: pointer;
    background-color: rgba($no-prefill-background, 0.5);
  }
}
